@page "/"
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<h1>@ahojSvet</h1>
<Dashboard/>

<br>

Welcome to your new app.
<br>
<button @onclick="Increment">My Button</button>

<br>
Hodnota počítadla: @counter;


@code
{
    string ahojSvet = "Ahoj, svet!";
    int counter = 0;

    public void Increment()
    {
        counter++;
    }
}
